@{
    ViewData["Title"] = "Alter Tabels";
}


<p>Alege ce tabel vrei sa modifici:</p>

<ul>
    <li><a href="/Home/AlterDanger" style="text-decoration:none;color:black;">Aici poti modifica tabelul cotelor maxime admise pentru gaze.</a></li>
    <li><a href="/Home/AlterMQ2_1" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ2 din Modulul 1.</a></li>
    <li><a href="/Home/AlterMQ2_2" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ2 din Modulul 2.</a></li>
    <li><a href="/Home/AlterMQ9_1" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ9 din Modulul 1.</a></li>
    <li><a href="/Home/AlterMQ9_2" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ2 din Modulul 2.</a></li>
    <li><a href="/Home/AlterMQ135_1" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ135 din Modulul 1.</a></li>
    <li><a href="/Home/AlterMQ135_2" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru MQ135 din Modulul 2.</a></li>
    <li><a href="/Home/AlterDHT_1" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru DHT din Modulul 1.</a></li>
    <li><a href="/Home/AlterDHT_2" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru DHT din Modulul 2.</a></li>
    <li><a href="/Home/AlterCredentials" style="text-decoration:none;color:black;">Aici poti modifica tabelul pentru credentiale.</a></li>
    <li><a href="/Home/AlterPermLayers" style="text-decoration:none;color:black;">Aici poti vizualiza tabelul pentru permisiuni.</a></li>
    <li><a href="/Home/AlterMalicious" style="text-decoration:none;color:black;">Aici poti modifica timpii de functionare.</a></li>
</ul>

<a href="/Home/PageSelect" style="text-decoration:none; color: black;">Inapoi</a>