@{
    ViewData["Title"] = "Page Select";
}

<p>Unde vrei sa mergi?</p>
<ul>
    <li><a href="/Home/Danger" style="text-decoration: none; color:black;">Limite maxime adminse</a></li>
    <li><a href="/Home/RealTimeData" style="text-decoration: none; color:black;">Date in tip real</a></li>
    <li><a href="/Home/AlterTabels" style="text-decoration: none; color:black;">Modifica date</a></li>
    <li><a href="/Home/ViewMalicious" style="text-decoration: none; color:black;">Vezi timpii de functionare</a></li>
    <li><a href="/Home/AlterCommands" style="text-decoration: none; color:black;">Comanda sistemul</a></li>
    <li><a href="/Home/ViewStatistics" style="text-decoration: none; color:black;">Vezi statistici</a></li>
</ul>

