@{
    ViewData["Title"] = "Alter Data";
}
<p>Alege ce vrei sa modifici:</p>


<ul>
    <li>
        <a href="/Home/AlterLimitValues" style="text-decoration:none; color: black;">Modifica valorile limita pentru mediu</a>
    </li>
    <li>
        <a href="/Home/AlterCredentials" style="text-decoration:none; color: black;">Modifica credentialele</a>
    </li>
    <li>
        <a href="/Home/AlterPermLayers" style="text-decoration:none; color: black;">Vezi nivelurile de permisiuni</a>
    </li>
    <li>
        <a href="/Home/AlterWaterStatistics" style="text-decoration:none; color: black;">Vezi statistics de udare</a>
    </li>
    <li>
        <a href="/Home/AlterEnvData" style="text-decoration:none; color: black;">Vezi datele despre mediu</a>
    </li>
    <li>
        <a href="/Home/AlterMalicious" style="text-decoration:none; color: black;">Modifica timpii de functionare</a>
    </li>
    

</ul>

<a href="/Home/WhereToGo" style="text-decoration:none; color: black;">Inapoi</a>