
@{
    ViewData["Title"] = "InformatiiFlori";
}
<h2>Informatii Flori</h2>


<div>

    <div style=" width:244px; height:700px; background-color:#333333; display:inline-table">

        <a href="Margareta" style="text-decoration:none;">
            <img src="~/InfoFloriImg/001.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;" />
            <p style="color:white;">
                <b>
                    Margareta este o plantă perenă cu tulpina ierboasă, care poate atinge o înălțime
                    între 30 – 60 cm. Are o tulpină neramificată care prezintă pe secțiune transversală muchii.
                    Frunzele sunt lobate dințat, și nu sunt așezate perechi pe tulpină. Petalele sunt albe, așezate
                    pe un singur rând. Florile, mai ales când încep să vestejească, au un miros neplăcut.
                </b>
            </p>




        </a>
    </div>


    <div style="width: 244px; height: 700px; background-color: #333333; display: inline-table ">
        <a href="Trandafir" style="text-decoration:none;">

            <img src="~/InfoFloriImg/002.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;"/>
            <p style="color:white;">
                <b>
                    Trandafirul (Rosa L.) este un gen de plante perene ornamentale din familia Rosaceae, originar din regiunile continentale și
                    subtropicale ale emisferei nordice, cuprinzând peste 200 de specii de arbuști erecți, deseori spinoși.
                    Planta tipică are tulpina spinoasă și fructul ca măceșele trandafirului sălbatic, Rosa canina, care crește sub formă
                    de tufișuri în regiunile aride, cu soluri calcaroase.
                </b>
            </p>

        </a>
    </div>


    <div style="width: 244px; height: 700px; background-color: #333333; display: inline-table ">
        <a href="Crin" style="text-decoration:none;">

            <img src="~/InfoFloriImg/003.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;"/>
            <p style="color:white;">
                <b>
                    Crinul este numele popular al genului Lilium, un gen de plante cu flori erbacee ce cresc din bulbi.
                    Cele mai multe specii sunt native emisferei nordice temperate. Ele cuprind un gen de circa 110 specii din familia crinului (Liliaceae).
                    Au o importanță culturală și literară în mare parte a lumii. Unele specii sunt, uneori, cultivate sau recoltate pentru bulbii comestibili.
                    Speciile în acest gen sunt adevărații crini.
                </b>
            </p>

        </a>
    </div>


    <div style="width: 244px; height: 700px; background-color: #333333; display: inline-table ">
        <a href="Lalea" style="text-decoration:none;">

            <img src="~/InfoFloriImg/004.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;"/>
            <p style="color:white;">
                <b>
                    Laleaua (Tulipa) este un gen care cuprinde aproximativ 100 de specii de plante cu flori din familia Liliaceae.
                    Sunt originare din sudul Europei, nordul Africii și Asia, din Anatolia și Iran (unde floarea este reprezentată pe drapelul național)
                    până în China și Japonia. Zonele cele mai diversificate în ceea ce privește speciile de lalele sunt Munții Pamir, Munții Hindu Kush
                    și stepele din Kazakhstan. Exista peste 150 de specii de lalea si peste 3000 de varietăți sub diferite culori si forme. Este o plantă
                    Hermafrodită.
                </b>
            </p>

        </a>
    </div>

    <br /><br />
    <div style="width: 244px; height: 700px; background-color: #333333; display: inline-table ">
        <a href="Muscata" style="text-decoration:none;">

            <img src="~/InfoFloriImg/005.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;"/>
            <p style="color:white;">
                <b>
                    Muscata este o planta rustica, decorativa, originara din Africa de Sud, cu perioada de inflorire indelungata.
                    Aceasta este una din cele mai raspandite plante din lume si se gaseste in orice balcon si terasa.
                </b>
            </p>

        </a>
    </div>


    <div style="width: 244px; height: 700px; background-color: #333333; display: inline-table ">
        <a href="Garoafa" style="text-decoration:none;">

            <img src="~/InfoFloriImg/006.jpg" width="240" height="180" style="position:relative; top:2px; left:2px;"/>
            <p style="color:white;">
                <b>
                    Garoafele sunt unele dintre cele mai cunoscute flori și se găsesc într-o multitudine de culori și specii.
                    De garoafe sunt legate numeroase povești, având o simbolistică destul de bogată.
                </b>
            </p>

        </a>
    </div>
</div>