
@{ ViewData["Title"] = "Lalea";
}

<h2>Lalea</h2>




<div class="text-center">


    <div style="position:relative; width:500px; height:600px; background-color:#333333;text-align:left; color:white;">
        <h4>Plantarea Trandafirilor:</h4>
        <p>
            <b>
                Laleaua (Tulipa) este un gen care cuprinde aproximativ 100 de specii de plante cu flori din familia Liliaceae.
                Sunt originare din sudul Europei, nordul Africii și Asia, din Anatolia și Iran (unde floarea este reprezentată pe drapelul național) 
                până în China și Japonia. Zonele cele mai diversificate în ceea ce privește speciile de lalele sunt Munții Pamir, Munții Hindu Kush
                și stepele din Kazakhstan. Exista peste 150 de specii de lalea si peste 3000 de varietăți sub diferite culori si forme. Este o plantă
                Hermafrodită.
            </b>
        </p>




    </div>
    <div style="position:relative; width:300px;height:600px; top:-600px; left:600px; background-color:#333333; color:white; text-align:left;">
        <h5>Caracteristici punctuale:</h5>
        <p><b>Temperatura minima: 10</b></p>
        <p><b>Temperatura maxima: 20</b></p>
        <p><b>Temperatura optima: 15</b></p>
        <p><b>Temperatura plantare: 15 grade</b></p>
        <p><b>Umidiatate: Moderat</b>a</p>
        <p><b>Luminozitate: Din abundenta</b></p>



    </div>

</div>