
@{
    ViewData["Title"] = "Margareta";
}
<h2>Margareta</h2>


<div class="text-center">


    <div style="position:relative; width:500px; height:600px; background-color:#333333;text-align:left; color:white;">
        <h4>Plantarea Margaretelor:</h4>
        <p>
            <b>
                Aceste flori au nevoie de un sol de tip nisipos și de un loc cât mai luminos în grădina ta.
                Bineînțeles, pentru a stimula creșterea și dezvoltarea lor, indicat este să folosești și un fertilizator.
            </b>
        </p>




    </div>
    <div style="position:relative; width:300px;height:600px; top:-600px; left:600px; background-color:#333333; color:white; text-align:left;">
        <h5>Caracteristici punctuale:</h5>
        <p><b>Temperatura minima: 14</b></p>
        <p><b>Temperatura maxima: 30</b></p>
        <p><b>Temperatura optima: 22</b></p>
        <p><b>Temperatura plantare: 14-16 grade</b></p>
        <p><b>Umidiatate: Moderat</b>a</p>
        <p><b>Luminozitate: Din abundenta</b></p>
        


    </div>

</div>