@{
    ViewData["Title"] = "Multiple Error";
}


<h1 style="color:red;"><b>@TempData["Message"]</b></h1>


<a href="/Home/WhereToGo" style="text-decoration:none; color: black;">Inapoi la selectarea paginilor</a>
