@{
    ViewData["Title"] = "No Permissions";
}

<h1 style="color:red;"><b>Nu aveti permisiunile necesare pentru a face acest lucru!!</b></h1>

<a href="/Home/WhereToGo" style="text-decoration:none; color: black;">Inapoi</a>