
@{
    ViewData["Title"] = "Trandafir";
}
<h2>Trandafir</h2>



<div class="text-center">


    <div style="position:relative; width:500px; height:600px; background-color:#333333;text-align:left; color:white;">
        <h4>Plantarea Trandafirilor:</h4>
        <p>
            <b>
                Aceste flori au nevoie de un sol de tip nisipos și de un loc cât mai luminos în grădina ta.
                Bineînțeles, pentru a stimula creșterea și dezvoltarea lor, indicat este să folosești și un fertilizator.
            </b>
        </p>




    </div>
    <div style="position:relative; width:300px;height:600px; top:-600px; left:600px; background-color:#333333; color:white; text-align:left;">
        <h5>Caracteristici punctuale:</h5>
        <p><b>Temperatura minima: 16</b></p>
        <p><b>Temperatura maxima: 24</b></p>
        <p><b>Temperatura optima: 20</b></p>
        <p><b>Temperatura plantare: 7 grade</b></p>
        <p><b>Umidiatate: Moderat</b>a</p>
        <p><b>Luminozitate: Din abundenta</b></p>



    </div>

</div>