@{
    ViewData["Title"] = "Where To Go";
}


<p>Selecteaza unde vrei sa mergi:</p>

<ul>
    <li>
        <a href="/Home/ViewLimitValues" style="text-decoration:none; color: black;">Aici poti vizualiza valorile limita admise pentru mediu</a>
    </li>
    <li>
        <a href="/Home/AlterData" style="text-decoration:none; color: black;">Aici poti modifica date</a>
    </li>
    <li>
        <a href="/Home/Reports" style="text-decoration:none; color: black;">Aici poti vizualiza rapoarte</a>
    </li>
    <li>
        <a href="/Home/ViewMalicious" style="text-decoration:none; color: black;">Aici poti vizualiza timpii de functionare</a>
    </li>
    <li>
        <a href="/Home/AlterCommands" style="text-decoration:none; color: black;">Aici poti comanda sera</a>
    </li>
</ul>